/* color palette 
rgb(34, 40, 49)
rgb(57, 62, 70)
rgb(0, 173, 181)
rgb(238, 238, 238)
*/
/* General styling */
* {
    font-family: Helvetica, sans-serif, Arial;
}
html {
    background-color: rgb(34, 40, 49);
}

/* Title and summary */

h1 {
    text-align: center;
    color: rgb(238, 238, 238);
    font-size: 40px;
    font-weight: 500px;
    text-transform: uppercase;      
}
h2, h3, h4, p {
    color: rgb(238, 238, 238);
}
a.links{
    color: rgb(206, 237, 3);
}
a.links:hover{
    color: rgb(0, 173, 181);    
}
.portfolio {
    color: rgb(0, 173, 181);
}


.Highlight-images{
    text-align: center; 
    padding-bottom: 20px;   
}
.Summary > h2 {
    display: flex;
    justify-content: center;
}
.Contact-link:hover{
    color: rgb(0, 173, 181);    
}
.Contacts{
    background-color: blueviolet;    
    display: flex;
          
    justify-content: space-around;
    flex-flow: row wrap;
    flex-basis: 200px;

    height: 50px;
    gap: 200px;
       
    margin-top: 10px; 

    text-decoration: none;
     
       
}
.Contact-link , a {
    text-decoration: none;
    color:rgb(238, 238, 238);
    transition: color 0.3s;                      
}


/* Skills */

.skills-list {
    display: flex;    
    flex-wrap: wrap; 
    justify-content: center;   
    gap: 30px;
    padding: 20px;   
}

.skills-list > div {
    background-color: black;
    display: flex;
    flex-direction: column;  
    width: 200px;
    height: 250px;
}
.skills-list h3 {    
    text-align: center; 
       
}
.skills-list li {
    align-items: center;
    color: aliceblue;
    list-style: none;
}

/* .Frontend {    
    position : relative;
    top: 10px;
    margin-left: 5px;    
} */

/*.Frontend ul{
     padding-left: 20px;
    margin-top: 10px;
    margin-left: -20px;
} */
/* .Frontend ul li { */
    /* text-align: left; */
    /* list-style-position: inside;
    color: aliceblue;
    margin: 5px; 
}*/
/* .Backend {
    position : relative; 
    top: -35px; 
    left: 150px; 
}*/
/* .Languages {    
    top: -135px;
    left: 300px; 
}*/
/* .Database {
    background-color: black;     
    top: -135px; 
    left: 450px; 
}*/
/*.Dev-Tools {
     background-color: black;     
     top: -135px; 
     left: 600px; 
}*/


.Projects {
    position: relative;    
}
.used-tech ul {
    display: flex;
    flex-wrap: wrap; 
    list-style: none; 
    gap: 100px;  
}


.Education > .Degree {
    font-size: 20px;
    font-weight: 400px;   
    font-weight: 600; 
}
.Degree a:link, .University{
    color: rgb(0, 173, 181);
    text-decoration: none;    
}
.Education > .University {
    font-size: 20px ;
}
.Certificates > h3{
    font-weight: 100;
}


footer > p {
    display: flex;
    justify-content: center;
}